<h1>Welcome to Jobline.</h1>


  <section class="cv_linkedin">
    <p class="cv_option">You can submit your profile through LinkedIn</p>
    <a href="<%= submit_linkedin_resume_path %>">
    <%= image_tag("LinkedIn.svg", alt: 'Upload your CV', width: 150, height: 41) %>
    </a>
  </section>
