<%#Remove the underline of a link%>
  <STYLE><!-- A{text-decoration:none} --></STYLE>

  <a href="https://www.jobline.com.sg">
    <h1><SPAN STYLE="color: blue; font-size: 25pt">Welcome to Jobline.</span></h1>
  </a>


  <p>You can submit your profile through <a href= "<%= submit_linkedin_resume_path %>" > <span STYLE="color: red; font-size: 15pt">Linkedin</span></a></p>

  <a href="<%= submit_linkedin_resume_path %>">
    <%= image_tag("LinkedIn.svg", alt: 'Upload your CV', width: 150, height: 41) %>
  </a>

  <p> OR you can fill up the <a href= "<%= new_user_path %>" > <SPAN STYLE="color: green; font-size: 20pt">Application Form </span></a></p>
